<h2>Book <%= @yurt.title %></h2>

<% if @yurt.photo.attached? %>
  <%= cl_image_tag @yurt.photo.key, height: 400, width: 600, crop: :fill %>
<% end %>

<p>Price per night: <strong>£<%= @yurt.day_rate %></strong></p>

<%= simple_form_for [@yurt, @booking] do |f| %>
  <%= f.input :booked_from, as: :date, html5: true, label: 'From' %>
  <%= f.input :booked_to, as: :date, html5: true, label: 'To' %>
  <%= f.button :button, "Make booking" %>
 <% end %>
