<div class="booking-container">
  <div class="booking-card">
    <div class="booking-page">
      <h1 class="booking-header">Your booking</h1>
      <h2 class="booking-header"><%= @booking.yurt.title %></h2>
      <p><%= @booking.yurt.description %></p>
      <p>Location: <%= @booking.yurt.location %></p>
      <p>Max capacity: <%=@booking.yurt.max_capacity  %></p>
      <p>Dates: <%= @booking.booked_from %> - <%= @booking.booked_to %></p>
      <p>Total cost: <%= @booking.total_cost %></p>

      <%= link_to 'Cancel this booking', booking_path(@booking.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <p><%= link_to 'Back', yurt_path(@booking.yurt_id) %></p>
    </div>
  </div>
</div>
