<div class="booking-page">
  <h2><%= @booking.yurt.title %></h2>
  <p><%= @booking.yurt.description %></p>
  <p><%= @booking.yurt.max_capacity %></p>
  <p><%= @booking.yurt.location %></p>
  <p><%= @booking.yurt.day_rate %></p>

  <p><%= link_to 'Back', bookings_path %></p>
</div>
