<div class="booking-container">
  <div class="booking-card">
      <h1 class="booking-header">Your booking</h1>
      <% if @booking.yurt.photo.attached? %>
        <%= cl_image_tag @booking.yurt.photo.key, crop: :fill %>
      <% else %>
        <p>No image attached</p>
      <% end %>
      <div class="booking-yurt-details">
        <h2><%= @booking.yurt.title %></h2>
        <p><%= @booking.yurt.description %></p>
        <p>Location: <%= @booking.yurt.location %></p>
      </div>
      <p>
        From <strong><%= @booking.booked_from.strftime("%a %e %b %y") %></strong> to
        <strong><%= @booking.booked_to.strftime("%a %e %b %y") %></strong>
      </p>


      <%= link_to 'Cancel this booking', booking_path(@booking.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <p><%= link_to 'Back', yurt_path(@booking.yurt_id) %></p>
  </div>
</div>
