<div class="header">
  <div class="hero-image">
    <div class="hero-text">
      <h1>Rent a Yurt</h1>
<!--       <p>Experience the best yurts in the world</p> -->
      <p><span id="banner-typed-text"></span></p>
      <%= link_to 'Find a yurt', yurts_path, class: "button" %>
      <% if user_signed_in? %>
      <%= link_to 'Your profile', profile_path, class: "button" %>
      <% else %>
      <%= link_to 'Become a host', new_user_registration_path, class: "button" %>
      <% end %>
    </div>
  </div>
</div>

<div class="subheading-text">
    <h3>Featured Yurts</h3>
</div>
<!-- carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="carousel-item active">
          <%= render "shared/yurt_row", yurts: @yurts[0..2] %>
        </div>
        <div class="carousel-item">
          <%= render "shared/yurt_row", yurts: @yurts[3..5] %>
        </div>
        <div class="carousel-item">
          <%= render "shared/yurt_row", yurts: @yurts[6..8] %>
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <i class="fas fa-chevron-left arrow"></i>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <i class="fas fa-chevron-right arrow"></i>
    </a>
</div>
<!-- carousel -->




