<div class="header">
  <div class="hero-image">
    <div class="hero-text">
      <h1>Rent a Yurt</h1>
<!--       <p>Experience the best yurts in the world</p> -->
      <p><span id="banner-typed-text"></span></p>
      <%= link_to 'Find a yurt', yurts_path, class: "button" %>
      <%= link_to 'Host your yurt', new_user_registration_path, class: "button" %>
    </div>
  </div>
</div>

<!-- carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="carousel-item active">
          <%= render "shared/yurt_row", yurts: @yurts[0..2] %>
        </div>
        <div class="carousel-item">
          <%= render "shared/yurt_row", yurts: @yurts[3..5] %>
        </div>
        <div class="carousel-item">
          <%= render "shared/yurt_row", yurts: @yurts[6..8] %>
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<!-- carousel -->

<div class="subheading-text">
    <h3>Featured Yurts</h3>
</div>



