<div class="header">
  <div class="hero-image">
    <div class="hero-text">
      <h1>Rent a Yurt</h1>
      <p>Experience the best Yurts in the world</p>
      <%= link_to 'Find a yurt', yurts_path, class: "button" %>
      <%= link_to 'Become a Host', new_user_registration_path, class: "button" %>
    </div>
  </div>
</div>


<div class="subheading-text">
    <h3>Featured Yurts</h3>
</div>

<div class ="featured">
  <div class="row">
    <% @yurts[0..2].each do |yurt| %>
      <div class="column">
        <div class="yurt-card-small">
          <% if yurt.photo.attached? %>
            <%= cl_image_tag yurt.photo.key, width: 240, height: 240, crop: :fill %>
          <% else %>
            <p>No image attached</p>
          <% end %>

          <div class="yurt-card-info">
            <h3><%= yurt.title %></h3>
            Sleeps <%= yurt.max_capacity %>
            <div class="yurt-card-info-inline">
              £<%= yurt.day_rate %> / night

              <%= link_to 'More Info', yurt_path(yurt), class: 'button' %>
            </div>
          </div>


        </div>
      </div>
    <% end %>
  </div>
</div>

