<h1>Your profile</h1>

<h3>Your details</h3>

<%= link_to edit_user_registration_path do %>
  <i class="fas fa-edit"></i>
<% end %>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>First name: <%= @user.first_name %></li>
  <li>Last name: <%= @user.last_name %></li>
</ul>

<h3>Your Yurts</h3>

<div class="row">
  <% if @yurts.nil? %>
    <p>You don't have any yurts.</p>
    <%= link_to 'Add a yurt', new_yurt  %>
  <% else %>
    <% @yurts.each do |yurt| %>
      <div class="column">
        <div class="yurt-card-small">
          <% if yurt.photo.attached? %>
            <%= cl_image_tag yurt.photo.key, width: 240, height: 240, crop: :fill %>
          <% else %>
            <p>No image attached</p>
          <% end %>

          <div class="yurt-card-info">
            <h3><%= yurt.title %></h3>
            Sleeps <%= yurt.max_capacity %>
            <div class="yurt-card-info-inline">
              £<%= yurt.day_rate %> / night

              <%= link_to yurt_path(yurt) do  %>
                More Info
              <% end %>
            </div>
          </div>


        </div>
      </div>
    <% end %>
  <% end %>
</div>


<h3>Your bookings</h3>

<div class="bookings">
    <div class="row">
      <div class="col-sm-12">
        <% @bookings.each do |booking| %>
          <h2><%= booking.yurt.title %></h2>
          <ul>
            <li><%= booking.yurt.description %></li>
            <li><%= booking.booked_from %> - <%= booking.booked_to %></li>
          </ul>
          <p><%= link_to 'View booking details', booking_path(booking.id) %></p>
        <% end %>
      </div>
  </div>
</div>
