
<div class="profile-container">

  <div>
    <div>
      <div class = "profile-page-header">
        <h3>Your Yurt Listings</h3>
      </div>
      <div class="profile-page-row">
        <% if @yurts.empty? %>
          <p>You don't have any yurts listed.</p>
          <%= link_to 'Become a host!', new_yurt_path, class: "button"  %>
        <% else %>
          <% @yurts.each do |yurt| %>
            <div class="profile-page-column">
              <div class="yurt-card-small">
                <% if yurt.photo.attached? %>
                  <%= cl_image_tag yurt.photo.key, width: 240, height: 240, crop: :fill %>
                <% else %>
                  <p>No image attached</p>
                <% end %>

                <div class="yurt-card-info">
                  <h3><%= yurt.title %></h3>
                  Sleeps <%= yurt.max_capacity %>
                  <div class="yurt-card-info-inline">
                    £<%= yurt.day_rate %> / night

                    <%= link_to 'More info', yurt_path(yurt), class: "button"  %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <div>
      <div class="profile-page-header">
        <h3>Your Bookings</h3>
      </div>
      <div>
        <div class="bookings">
          <div class="profile-page-row">
            <% if @bookings.empty? %>
              <div>
                You have no bookings.
                <%= link_to 'Find a yurt', yurts_path, class: "button"  %>
              </div>
            <% else %>
              <% @bookings.each do |booking| %>
                <div class="column">
                  <div class="card" id="booking-card">
                    <% if booking.yurt.photo.attached? %>
                      <%= cl_image_tag booking.yurt.photo.key, width: 240, height: 240, crop: :fill %>
                    <% else %>
                      <p>No image attached</p>
                    <% end %>

                    <div class="booking-card-info">
                      <h3><%= booking.yurt.title %></h3>

                      <div class="booking-dates">
                        <strong><%= booking.booked_from.strftime("%a %e %b %y") %></strong> to <strong><%= booking.booked_to.strftime("%a %e %b %y") %></strong>
                      </div>
                      <%= link_to 'View booking details', booking_path(booking.id), class: "button" %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div>
      <div class="profile-page-header">
        <h3>Your Details</h3>
      </div>
      <div class = "details-container">
          <p>Email: <%= @user.email %></p>
          <p>First name: <%= @user.first_name %></p>
          <p>Last name: <%= @user.last_name %></p>
          <%= link_to edit_user_registration_path do %>
            Edit info <i class="fas fa-edit"></i>
          <% end %>
      </div>
    </div>
  </div>

</div>



















