<h1>Your profile</h1>

<h3>Your details</h3>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>First name: <%= @user.first_name %></li>
  <li>Last name: <%= @user.last_name %></li>
</ul>

<h3>Your Yurts</h3>

<div class="row">
  <% if @yurts.nil? %>
    <p>You don't have any yurts.</p>
    <%= link_to 'Add a yurt', new_yurt  %>
  <% else %>
    <% @yurts.each do |yurt| %>
      <div class="card col-lg-6">
        <%= link_to yurt_path(yurt.id) do %>
          <h2><%= yurt.title %></h2>
        <% end %>
        <ul id="yurt-info">
          <li>Max capacity: <%= yurt.max_capacity %></li>
          <li>Location: <%= yurt.location %></li>
          <li>Day rate: £<%= yurt.day_rate %></li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
