<div class="info-window">
  <%= cl_image_tag yurt.photo.key, width: 200, height: 200, crop: :fill %>
  <h4><%= yurt.title %></h4>
  <p><%= yurt.location %></p>
  <p>Max capacity: <%= yurt.max_capacity %></p>
  <p>Day rate : £<%= yurt.day_rate %></p>
</div>

