<div class="yurt-index">
  <div class="yurts-container">
  <div class="row align-items-center">
    <% @yurts.each do |yurt| %>
    <div class="col-12">
      <div class="yurt-card">

        <% if yurt.photo.attached? %>
          <%= cl_image_tag yurt.photo.key, width: 240, height: 240, crop: :fill %>
        <% else %>
            <i class="fas fa-square"></i>
            <p>No photo attached</p>
        <% end %>

        <div class="yurt-card-body">
          <h5 class="card-title"><%= yurt.title %></h5>
          <div class="card-location"><%= yurt.location %></div>
          <div class="card-description"><%= yurt.description %></div>
          <div class="detailsholder">
          <div class="card-text">Max Capacity: <%= yurt.max_capacity %></div>
           <div class="day-rate"> Day rate: £<%= yurt.day_rate %></div>
          </div>
        </div>


        <div class="yurt-link" >
          <p><%= link_to 'More info', yurt_path(yurt.id), class: "btn" %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>


  <div class="map-container">
    <div class="map">
      <%= image_tag "map4.png", crop: :fill %>
    </div>
    <i class="icon1">
      <%= image_tag "YurtLogo.png", height: 50, width: 50 %>
    </i>
       <i class="icon2">
      <%= image_tag "YurtLogo.png", height: 50, width: 50 %>
    </i>



  </div>


</div>
