
<div class="container">
  <%= simple_form_for @yurt do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :max_capacity %>
    <%= f.input :day_rate %>
    <%= f.submit %>
  <% end %>
</div>
