<div id="yurt-image">
  <% if @yurt.photo.attached? %>
    <%= cl_image_tag @yurt.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <p>No image attached</p>
  <% end %>
</div>

<div id="yurt-info">
  <h2><%= @yurt.title %></h2>
  <p><%= @yurt.description %></p>
  <p><%= @yurt.max_capacity %></p>
  <p><%= @yurt.location %></p>
  <p><%= @yurt.day_rate %></p>

  <p><%= link_to 'Back', yurts_path %></p>
</div>
