<div class="show-page">


<div class="yurt-container">
  <div class="yurt-row">
    <div class="show-card">
      <div id="yurt-image">
        <% if @yurt.photo.attached? %>
          <%= cl_image_tag @yurt.photo.key, height: 400, width: 600, crop: :fill %>
        <% else %>
          <p>No image attached</p>
        <% end %>
      </div>


    <div class="yurt-card-text">
      <div class="yurt-title">
        <h2><%= @yurt.title %></h2>
      </div>
      <div id="yurt-info">
        <div class="location">
          <p><%= @yurt.location %></p>
        </div>
        <div class="description">
          <h4><%= @yurt.description %></h4>
        </div>
        <div class="capacity-cost">
          <div class="capacity">
            <p>Max Capacity: <%= @yurt.max_capacity %></p>
          </div>
          <div class="day-rate">
            <p>Day rate: £<%= @yurt.day_rate %></p>
          </div>
        </div>

        <div class="host">
          <p>Host: <%= @yurt.user.email %></p>
        </div>
      </div>
    </div>


      <div class="show-links">
        <p><%= link_to 'Book this yurt', new_yurt_booking_path(@yurt), class:"btn" %></p>
        <p><%= link_to 'Back', yurts_path, class: "link" %></p>
      </div>
    </div>
  </div>



  <div class="map-container">
    <div class="map">
      <%= image_tag "map4.png", crop: :fill %>
    </div>
  </div>



</div>

  <div class="yurt-host-edit">
    <div class="edit-links">
      <h5>Yurt Host actions:</h5>
      <div class="yurt-edit">
        <%= link_to edit_yurt_path @yurt do %>
          Update <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <div class="yurt-delete">
        <%= link_to 'delete', yurt_path(@yurt.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div>
