<div class="show-page">


  <div class="yurts-container">
     <%= render 'show_card', yurt: @yurt %>

      <% if current_user == @yurt.user %>
        <div class="yurt-host-edit">
          <div class="edit-links">
            <h5>Yurt Host actions:</h5>
            <div class="yurt-edit">
              <%= link_to edit_yurt_path @yurt do %>
                Update yurt details <i class="fas fa-edit"></i>
              <% end %>
            </div>
            <div class="yurt-delete">
              <%= link_to 'Delete your yurt', yurt_path(@yurt.id), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="yurt-host-edit">
          <p>Please contact the host for more information about this yurt.</p>
        </div>
      <% end %>
  </div>

  <div class="map-container col-6">
    <div id="map"
      style="width: 100%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
