<div class="container">
  <div class="row">
    <div class="card">
      <h2><%= @yurt.title %></h2>
      <%= link_to edit_yurt_path @yurt do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <div id="yurt-info">
        <h4><%= @yurt.description %></h4>
        <p>Max Capacity: <%= @yurt.max_capacity %></p>
        <p>Location: <%= @yurt.location %></p>
        <p>Day rate: <%= @yurt.day_rate %></p>
      </div>
    </div>
    <p><%= link_to 'Back', yurts_path %></p>
  </div>
</div>

