<div>
  <h2><%= @yurt.title %></h2>
  <p><%= @yurt.description %></p>
  <p><%= @yurt.max_capacity %></p>
  <p><%= @yurt.location %></p>
  <p><%= @yurt.day_rate %></p>

  <p><%= link_to 'Back', yurts_path %></p>
</div>
